.root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  width: 450px;
  background-color: #eee;
  border-radius: 10px;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, .3);
  padding: 30px 40px 0 0;
}