.logo {
  width: 100px;
  height: 100px;
  text-align: center;
  margin: 20px auto;
  display: block;
}
.copyright {
  color: #ddd;
  padding: 40px 20px 10px;
  text-align: center;
}
.createdWith {
  display: block;
  font-family: sans-serif;
  letter-spacing: 0.2em;
}