.container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  width: 33%;
}

.card {
  font-size: 18px;
  text-align: center;
  margin: 12px;
  cursor: pointer;
  perspective: 1000px;
  height: 33px;
  width: 170px;


  &.done {
    .cardInner {
      transform: rotateY(180deg);
    }
  }
}

.cardInner {
  position: relative;
  background-color: transparent;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.6);
}

.cardFront,
.cardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-decoration: inherit;
}

.cardFront {
  background-color: #fff;
  color: black;
}

.cardBack {
  background-color: #1BB95E;
  color: white;
  transform: rotateY(180deg);
}

.checkBox {
  cursor: pointer;
  font-size: 26px;
  transition: color .2s linear;

  &:hover{
    color: #00d819;
  }
}

.checked {
  text-decoration: line-through;
}

@media screen and (max-width: 1050px) {
  .container {
    width: 50%;
  }
}

@media screen and (max-width: 900px) {
  .container {
    width: 100%;
  }
}
